.countdown{
	min-height:100vh;
	min-width: 100vw;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap:1rem;
	position:absolute;
}

.countdown__Work{
	background-color: rgb(0, 35, 73);
	color:white;
}

.countdown__Break{
	background-color: #00F0C5;
}

.controls{
	display: flex;
	width: 100%;
	justify-content: center;
}

.btn__home{
	position: absolute;
	top: 20px;
	left: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 300ms;
}

.btn__home:hover{
	color: white;
	background-color: black;
}

.btn__label{
	opacity: 0;
	transform: translateX(-30px);
	transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.btn__home:hover .btn__label{
	opacity: 1;
	transform: translateX(0px);

	transition: transform 300ms ease-in, opacity 300ms ease-in;
}